################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PizzaShop
/PizzaShop/bin/Debug/netcoreapp3.1
/PizzaShop/obj/Debug/netcoreapp3.1
/PizzaShop/obj
